        .table {
            border-collapse: separate;
            border-spacing: 0 10px; /* 행 간 여백 */
        }

        .table td, .table th {
            vertical-align: middle;
            font-size: 15px;
            border: none !important; /* 테두리 제거 */
        }

        .pagination .page-link {
            color: #000;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

        .pagination .active .page-link {
            background-color: #fff;
            border-color: #000;
            font-weight: bold;
        }

        .pagination .disabled .page-link {
            color: #ccc;
            background-color: #fff;
            border-color: #dee2e6;
        }