@charset "UTF-8";



#headerRow {
	height: 120px;
}

.wrapper-menu {	
	text-align: center;
	
}

.menu {
	display: inline-block;
	background-color: white;
	height: 100%;
	width: 80%;
	
}

#wrapper-menu1 {
	background-color: darkgrey;
	height: 40px;
}

#wrapper-menu2 {
	background-color: silver;
	height: 80px;
}

#menu1 {
	text-align: right;
}

#menu2 {
	text-align: center;
}

#menu1 li {
	display:inline-block;
	height: 100%;
	width: 15%;
	font-size: x-large;
	text-align:center;
	line-height: 48px;
	
}

#menu2 li {
	display:inline-block; 
	height: 100%;
	width: 19%;
	font-size: xx-large;
	text-align:center;
	line-height: 98px;
	
}

#menu1 li:hover {
	background-color: dodgerblue;
	color: white;
}

#menu2 li:hover {
	background-color: darkslategrey;
	color: white;
}




