@charset "UTF-8";


#wrapper-content {
	width: 1200px;
    height: 1000px;
    background-color: darkgray;
}

#wrapper-mainImg {
	height: 500px;
    background-color: darkcyan;
    text-align: center;
    overflow-x: visible;
}

#mainImg1 {
    height: 100%;
	
}

#wrapper-mainContent {
	height: 500px;
    background-color: darkkhaki;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* 콘텐츠를 중앙에 배치 */
    width: 100%;
    align-items: center;
}

.mainContents {
	width: 90%;
	height: 50%;
	background-color: silver;
	border: 1px solid black;
}