<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis 설정 -->
<configuration>
	<typeAliases>

    <typeAlias type="com.baseball.app.boards.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.baseball.app.boards.BoardDAO" alias="BoardDAO"/>
		<typeAlias type="com.baseball.app.boards.BoardFileDTO" alias="BoardFileDTO"/>
		
		<typeAlias type="com.baseball.app.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.baseball.app.qna.QnaDAO" alias="QnaDAO"/>
		<typeAlias type="com.baseball.app.ticketing.TicketingDTO" alias="TicketingDTO"/>
		<typeAlias type="com.baseball.app.pages.Pager" alias="Pager"/>
	
		<typeAlias type="com.baseball.app.users.UserDTO" alias="UserDTO"/>
		<typeAlias type="com.baseball.app.matches.MatchDTO" alias="MatchDTO"/>
 		<typeAlias type="com.baseball.app.teams.TeamDTO" alias="TeamDTO"/>
 		<typeAlias type="com.baseball.app.stadiums.StadiumDTO" alias="StadiumDTO"/>
	
		
		<typeAlias type="java.util.Map" alias="Map"/>
		<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>
</configuration>
