<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis 설정 -->
<configuration>
	<typeAliases>
		<typeAlias type="com.baseball.app.matches.MatchDTO" alias="MatchDTO"/>
		<typeAlias type="com.baseball.app.teams.TeamDTO" alias="TeamDTO"/>
		<typeAlias type="com.baseball.app.stadiums.StadiumDTO" alias="StadiumDTO"/>
		
		
		
		<typeAlias type="java.util.Map" alias="Map"/>
		<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>
</configuration>
