<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.baseball.app.notice.NoticeDAO">
  
  	<select id="getTotalCount" resultType="java.lang.Long">
  		SELECT COUNT(BOARDNUM) FROM NOTICE
  	</select>
	
	<select id="getList" resultType="NoticeDTO">
				SELECT * FROM
			(SELECT ROWNUM R, M.* FROM
				(
					SELECT * 
					FROM NOTICE

					ORDER BY BOARDNUM DESC
				) M
			)
			WHERE R BETWEEN #{startNum} AND #{endNum}
	
	</select>
	
	<select id="getDetail" parameterType="NoticeDTO" resultMap="getDetailResult">

		SELECT *
		FROM NOTICE N
			 LEFT OUTER JOIN 
			 NOTICEFILES NF
			 USING(BOARDNUM)
		WHERE BOARDNUM = #{boardNum}
		
	</select>
		  	<resultMap type="NoticeDTO" id="getDetailResult">
  		<id column="BOARDNUM" property="boardNum"/>
  		<result column="BOARDTITLE" property="boardTitle"/>
  		<result column="BOARDDATE" property="boardDate"/>
  		<result column="BOARDCONTENT" property="boardContent"/>
  		<result column="BOARDHIT" property="boardHit"/>
  		<result column="USERID" property="userId"/>
  		<!-- 1:N ofType="Generic type명" -->
  		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORIGINALNAME" property="originalName"/>
  		</collection>
  	
  	</resultMap>
  	
  	
   	<update id="updateHit" parameterType="NoticeDTO">
  		UPDATE NOTICE SET BOARDHIT=BOARDHIT+1
  		WHERE BOARDNUM=#{boardNum}
  	</update>
  	
  	
  	<insert id="add" parameterType="NoticeDTO">
  	<!-- 메인쿼리 실행전(Beafore)에 SELECTKEY의 결과물인 Long타입의 값을 NoticeDTO의 boardNum에 대입 -->
  		<selectKey order="BEFORE" keyProperty="boardNum" resultType="Long">
  			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
  		</selectKey>
  		
  		INSERT INTO NOTICE (BOARDNUM, BOARDTITLE, BOARDDATE, BOARDCONTENT, BOARDHIT, USERID)
  		 VALUES(#{boardNum},#{boardTitle},sysdate,#{boardContent},0,#{userId})
  	
  	</insert>
  	
  	<update id="update" parameterType="NoticeDTO">
  		UPDATE NOTICE SET
  			BOARDTITLE=#{boardTitle},
  			BOARDCONTENT=#{boardContent}
  		WHERE BOARDNUM =#{boardNum}
  		
  	</update>
  	
  	
  	
  	<delete id="delete" parameterType="NoticeDTO">
  		DELETE FROM NOTICE WHERE BOARDNUM=#{boardNum}
  	
  	</delete>
	
	
	<insert id="addFile" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILES (FILENUM, BOARDNUM, FILENAME, ORIGINALNAME)
			VALUES (FILES_SEQ.NEXTVAL, #{boardNum},#{fileName},#{originalName})
	
	</insert>
	
	
	
	
	    <!-- 특정 게시글에 대한 파일 리스트 가져오기 -->
    <select id="getFileDetail" parameterType="BoardFileDTO" resultType="BoardFileDTO">
        SELECT *
        FROM NOTICEFILES
        WHERE FILENUM = #{fileNum}
    </select>

    <!-- 특정 파일 삭제 -->
    <delete id="fileDelete" parameterType="BoardFileDTO">
        DELETE FROM NOTICEFILES WHERE FILENUM = #{fileNum}
    </delete>

    <!-- 특정 게시글의 모든 파일 삭제 -->
    <delete id="deleteAll" parameterType="BoardDTO">
        DELETE FROM NOTICEFILES WHERE BOARDNUM = #{boardNum}
    </delete>
		
	
	
	
	
  </mapper>	