<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.baseball.app.qna.QnaDAO" >

		<select id="getTotalCount" resultType="java.lang.Long">
			SELECT COUNT(BOARDNUM) FROM QNA
		</select>

  		<select id="getList" resultType="QnaDTO">
  			SELECT * FROM
			(SELECT ROWNUM R, M.* FROM
				(
					SELECT * 
					FROM QNA

					ORDER BY BOARDNUM DESC
				) M
			)
			WHERE R BETWEEN #{startNum} AND #{endNum}
  		</select>
  		
  		<select id="getCommentList" parameterType="CommentDTO" resultType="CommentDTO">
  			SELECT * FROM COMMENTS WHERE BOARDNUM=#{boardNum} ORDER BY COMMENTNUM DESC
  		</select>
  		
  		<select id="getFileDetail" parameterType="BoardFileDTO" resultType="BoardFileDTO">
  			SELECT * FROM QNAFILES WHERE FILENUM = #{fileNum}
  		</select>
 						
		<select id="getDetail" parameterType="QnaDTO" resultMap="getDetailResult">
  		SELECT * FROM COMMENTS C
		RIGHT OUTER JOIN (
			SELECT * FROM QNA N
			LEFT OUTER JOIN QNAFILES QF
			USING(BOARDNUM)
			WHERE BOARDNUM = #{boardNum}
		) QQF
		USING(BOARDNUM)
		WHERE BOARDNUM = #{boardNum} ORDER BY COMMENTNUM DESC
  		</select>
  	
	  	 <resultMap type="QnaDTO" id="getDetailResult">
	  		<id column="BOARDNUM" property="boardNum"/>
	  		<result column="BOARDTITLE" property="boardTitle"/>
	  		<result column="BOARDDATE" property="boardDate"/>
	  		<result column="BOARDCONTENT" property="boardContent"/>
	  		<result column="BOARDHIT" property="boardHit"/>
	  		<result column="USERID" property="userId"/>
	  		
	  		<!-- 1:N ofType="Generic type명" -->
	  		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
	  			<id column="FILENUM" property="fileNum"/>
	  			<result column="FILENAME" property="fileName"/>
	  			<result column="ORIGINALNAME" property="originalName"/>
	  		</collection>
	  		
	  		<collection property="commentDTOs" javaType="List" ofType="CommentDTO">
	  			<id column="COMMENTNUM" property="commentNum"/>
	  			<result column="BOARDNUM" property="boardNum"/>
	  			<result column="COMMENTDATE" property="boardDate"/>
	  			<result column="COMMENTCONTENT" property="boardContent"/>
	  			<result column="USERID" property="userId"/>
	  			<result column="COMMENTREF" property="commentRef"/>
	  			<result column="COMMENTSTEP" property="commentStep"/>
	  			<result column="COMMENTDEPTH" property="commentDepth"/>
	  		</collection>
	  	
	  	</resultMap>		
		
		
		<insert id="add" parameterType="QnaDTO">
			<!-- 메인쿼리 실행전(Beafore)에 SELECTKEY의 결과물인 Long타입의 값을 NoticeDTO의 boardNum에 대입 -->
	  		<selectKey order="BEFORE" keyProperty="boardNum" resultType="Long">
	  			SELECT QNA_SEQ.NEXTVAL FROM DUAL
	  		</selectKey>

	  		INSERT INTO QNA (BOARDNUM, BOARDTITLE, BOARDDATE, BOARDCONTENT, BOARDHIT, USERID)
	  		VALUES (#{boardNum}, #{boardTitle}, SYSDATE, #{boardContent}, 0, #{userId})
		</insert>
		
		<insert id="addFile" parameterType="BoardFileDTO">
			INSERT INTO QNAFILES (FILENUM, BOARDNUM, FILENAME, ORIGINALNAME) 
			VALUES (FILES_SEQ.NEXTVAL, #{boardNum}, #{fileName}, #{originalName})
		</insert>
		
		<insert id="addComment" parameterType="CommentDTO">
			INSERT INTO COMMENTS (COMMENTNUM, BOARDNUM, COMMENTDATE, COMMENTCONTENT, USERID, 
			COMMENTREF, COMMENTSTEP, COMMENTDEPTH)
			
			VALUES (COMMENTS_SEQ.NEXTVAL, #{boardNum}, SYSDATE, #{boardContent}, #{userId}, 
			COMMENTS_SEQ.CURRVAL, 0, 0)
		</insert>
		
		
		<update id="update" parameterType="QnaDTO">
			UPDATE QNA SET
			BOARDTITLE = #{boardTitle}, 
			BOARDCONTENT = #{boardContent}
			WHERE BOARDNUM = #{boardNum}
		</update>
		
		
		<delete id="delete" parameterType="QnaDTO">
			DELETE QNA WHERE BOARDNUM = #{boardNum}
		</delete>
		
		<delete id="deleteFile" parameterType="BoardFileDTO">
			DELETE QNAFILES WHERE FILENUM = #{fileNum}
		</delete>
		
		<delete id="deleteAllFile" parameterType="BoardDTO">
			DELETE QNAFILES WHERE BOARDNUM = #{boardNum}
		</delete>
		
		<delete id="deleteComment" parameterType="CommentDTO">
			DELETE COMMENTS WHERE COMMENTNUM = #{commentNum}
		</delete>
		
		
		
		
  </mapper>