<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- CORS -->
	<filter>
	    <filter-name>CorsFilter</filter-name>
	    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	    <init-param>
	        <param-name>cors.allowed.origins</param-name>
	        <param-value>https://dev-pub.apis.naver.com/naverpay-partner/naverpay/payments/v2.2/apply/payment</param-value>
	    </init-param>
	    <init-param>
	        <param-name>cors.allowed.methods</param-name>
	        <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
	    </init-param>
	    <init-param>
	        <param-name>cors.allowed.headers</param-name>
	        <param-value>Content-Type,X-Requested-With,Accept,Accept-Encoding,Accept-Language,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,Connection,Host,authorization</param-value>
	    </init-param>
	    <init-param>
	        <param-name>cors.exposed.headers</param-name>
	        <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
	    </init-param>
	    <init-param>
		    <param-name>cors.support.credentials</param-name>
		    <param-value>true</param-value>
		</init-param>
		<init-param>
		    <param-name>cors.preflight.maxage</param-name>
		    <param-value>10</param-value>
		</init-param>
	</filter>
	<filter-mapping>
	    <filter-name>CorsFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>





	
	<!-- Encoding Filter -->
	<filter>
		<filter-name>encode</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encode</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/*-context.xml</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<!-- 별도 설정 파일을 사용할 수 있도록 해줌 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	
	
		<!-- 404 Not Found -->
	<error-page>
	    <error-code>404</error-code>
	    <location>/WEB-INF/views/errors/error.jsp</location>
	</error-page>
	
	<!-- 500 Internal Server Error -->
	<error-page>
	    <error-code>500</error-code>
	    <location>/WEB-INF/views/errors/error.jsp</location>
	</error-page>
	
	<!-- 모든 예외 (Exception.class) -->
	<error-page>
	    <exception-type>java.lang.Exception</exception-type>
	    <location>/WEB-INF/views/errors/error.jsp</location>
	</error-page>
	




	
</web-app>
